.btn-round-lg {
    border-radius: 22.5px;
    min-width: 120px;
}
.btn-round {
    border-radius: 17px;
    min-width: 100px;
}
.btn-round-sm {
    border-radius: 15px;
}
.btn-round-xs {
    border-radius: 11px;
    padding-left: 10px;
    padding-right: 10px;
}

.btn-transparent {
    border: 0px solid transparent;
    background: transparent;
    color: white;
    min-height: 35px;

}
.btn-transparent:hover {
    color: #ED1C25;
}

.jumbotron {
    padding: 20px 0;
    background-color: #ED1C25;
}

h1.title-description {
    color: white;
}